@using Cafeteria.Management.Components.Pages.LocationAndStation.Station
@rendermode InteractiveServer

@if (ViewModel.IsVisible)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        @if (ViewModel.GetState() == CreateOrEditStationVM.StationModalState.Create)
                        {
                            <span>Create Station</span>
                        }
                        else
                        {
                            <span>Edit @ViewModel.SelectedStation.StationName</span>
                        }
                    </h5>
                    <button type="button" class="btn-close" @onclick="ViewModel.Close" aria-label="Close"></button>
                </div>
                <EditForm Model="@ViewModel.SelectedStation" OnValidSubmit="ViewModel.SaveAsync">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <ValidationSummary />

                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <InputText class="form-control" @bind-Value="ViewModel.SelectedStation.StationName" />
                            <ValidationMessage For="@(() => ViewModel.SelectedStation.StationName)" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <InputTextArea class="form-control" @bind-Value="ViewModel.SelectedStation.StationDescription" />
                            <ValidationMessage For="@(() => ViewModel.SelectedStation.StationDescription)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="ViewModel.Close">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
