@using Cafeteria.Management.Components.Layout.SigninButton

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<input type="checkbox" title="Expand sidebar" class="sidebar-expander" id="sidebarExpander" />

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item">
            <SigninButton />
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="entrees" title="Entrees">
                <span class="bi" aria-hidden="true"></span>
                <span class="nav-label">Entrees</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="sides" title="Sides">
                <span class="bi" aria-hidden="true"></span>
                <span class="nav-label">Sides</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="food-option-type" title="Food Option & Type">
                <span class="bi" aria-hidden="true"></span>
                <span class="nav-label">Food Option & Type</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="drinks" title="Drinks">
                <span class="bi" aria-hidden="true"></span>
                <span class="nav-label">Drinks</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="location-station" title="Location & Station">
                <span class="nav-label">Location & Station</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="users" title="Users">
                <span class="bi" aria-hidden="true"></span>
                <span class="nav-label">Users</span>
            </NavLink>
        </div>
    </nav>

    <div class="sidebar-footer">
        <label for="sidebarExpander" class="expand-btn" title="Expand sidebar">
            <span class="bi expand-icon"></span>
        </label>
    </div>
</div>

@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("sidebarManager.init");
    }
}