@using Cafeteria.Management.Components.Layout.SigninButton

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<input type="checkbox" title="Expand sidebar" class="sidebar-expander" id="sidebarExpander" />

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item">
            <SigninButton />
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="entree" title="Entree">
                <span class="bi bi-egg-fried" aria-hidden="true"></span>
                <span class="nav-label">Entree</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" title="Sides">
                <span class="bi bi-egg-fried" aria-hidden="true"></span>
                <span class="nav-label">Sides</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="food-options" title="Food Options">
                <span class="bi bi-basket" aria-hidden="true"></span>
                <span class="nav-label">Food Options</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="drinks" title="Drinks">
                <span class="bi bi-cup-straw" aria-hidden="true"></span>
                <span class="nav-label">Drinks</span>
            </NavLink>
        </div>


        <div class="nav-item">
            <NavLink class="nav-link" href="location-station" title="Location & Station">
                <span class="nav-label">Location & Station</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="users" title="Users">
                <span class="bi bi-people" aria-hidden="true"></span>
                <span class="nav-label">Users</span>
            </NavLink>
        </div>
    </nav>

    <div class="sidebar-footer">
        <label for="sidebarExpander" class="expand-btn" title="Expand sidebar">
            <span class="bi bi-chevron-right expand-icon"></span>
        </label>
    </div>
</div>

@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("sidebarManager.init");
    }
}