@page "/location-select"
@using Cafeteria.Shared.DTOsOld
@using System.Text.Json
@using Microsoft.AspNetCore.WebUtilities
@using System.Text.Json.Nodes

<PageTitle>Select Location</PageTitle>

<div class="container">
    @if (LocationSelectVM.Locations == null && IsInitialized == false)
    // Loading state:
    {
        <div class="row">
            <div class="col-12 text-center">
                <div class="alert alert-warning">
                    <h4>Loading locations...</h4>
                    <p>Please wait available locations are loading.</p>
                </div>
            </div>
        </div>
    }
    // Error state:
    else if (IsInitialized == true && LocationSelectVM.ErrorOccurred())
    {
        Navigation.NavigateTo("/error", false);
    }
    // Main content:
    else if (LocationSelectVM.Locations != null)
    {
        <div class="row mb-3">
            <div class="col-12">
                <a href="/" class="btn btn-link text-decoration-none ps-0">
                    <i class="bi bi-arrow-left"></i> Back to Payment Method
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Select Your Location</h2>
                <p class="text-muted">Please choose your cafeteria location to continue</p>
            </div>
        </div>

        <div class="row justify-content-center">
            @foreach (var location in LocationSelectVM.Locations)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title">@location.LocationName</h5>
                            <p class="card-text text-muted">@location.LocationDescription</p>
                            <div class="mt-auto">
                                <a href="@(CreateUrl(location.Id))" class="btn btn-primary btn-lg w-100">
                                    Select @location.LocationName
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>