@page "/location-station"
@using Cafeteria.Management.Components.Pages.LocationAndStation.Location
@rendermode InteractiveServer

<h1>Locations and Stations</h1>

<p>Manage locations/stations here.</p>

<button class="btn btn-primary mb-3" @onclick="ViewModel.OpenCreateLocationModal">Create Location</button>

<CreateOrEditLocation />

@foreach (var location in ViewModel.Locations)
{
    <LocationCollapsible 
        Location="location" 
        IsExpanded="@(ViewModel.ExpandedLocationId == location.Id)" 
        OnToggle="@(() => ViewModel.ToggleLocation(location.Id))" 
        OnEdit="@(() => ViewModel.EditLocation(location))" />

}