@page "/location-station"
@rendermode InteractiveServer

<h1>Locations and Stations</h1>

<p>Manage locations/stations here.</p>

<!--Start-->
<!--This is a proof of concept. Delete it when you start implementing.-->
<button @onclick="CallAuthenticatedEndpoint">Call Authenticated Endpoint</button>
<p>@_authResult</p>
<!--End-->