@page "/food-options-old"
@rendermode InteractiveServer

<PageTitle>Food Options</PageTitle>

<h1>Food Options</h1>

<p>This page has been moved. Please visit <a href="/food-options">Food Options</a> or <a href="/food-types">Food
        Types</a>.</p>