@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="SignOut">Sign Out @context.User.Identity?.Name</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="SignIn">Sign In</button>
    </NotAuthorized>
</AuthorizeView>
