@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        <button class="sign-in-btn px-4 py-2 small fw-medium" @onclick="SignOut">Sign Out @context.User.Identity?.Name</button>
    </Authorized>
    <NotAuthorized>
        <button class="sign-in-btn px-4 py-2 small fw-medium" @onclick="SignIn">Sign In</button>
    </NotAuthorized>
</AuthorizeView>