@page "/entrees"
@rendermode InteractiveServer

<PageTitle>Entrees</PageTitle>

<h1>Entrees</h1>

<button type="button" @onclick="HandleCreateClick">Add Entree</button>

@if (ViewModel.Entrees.Any())
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Station ID</th>
                <th>Price</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entree in ViewModel.Entrees)
            {
                <tr>
                    <td>@entree.EntreeName</td>
                    <td>@entree.StationId</td>
                    <td>@entree.EntreePrice</td>
                    <td>@entree.EntreeDescription</td>
                    <td>
                        <button type="button" @onclick="() => HandleDeleteClick(entree.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No entrees found.</p>
}

<CreateOrEditEntree @ref="modalComponent"></CreateOrEditEntree>
