@page "/"

<PageTitle>Select Location</PageTitle>

<h1>Please pick your location</h1>

Hello, welcome to the Snow Cafeteria Portal. Please select your location to proceed.

Button
Button
Button
Button
