@page "/place-order"
@using Cafeteria.Shared.DTOs
@using Cafeteria.Customer.Components.Pages
@using Cafeteria.Customer.Components.ViewModelInterfaces
@using Cafeteria.Customer.Components.Data
@inject IPlaceOrderVM PlaceOrderVM

<h2>Review Your Order</h2>
<ul style="list-style-type:disc;" class="ps-3">
    @foreach (FoodItemDto foodItem in foodItems)
    {
        <li>
            @foodItem.ItemDescription
            @if (PlaceOrderVM.GetOrderItemIngredients(foodItem.Id).Any())
            {
                <ul style="list-style-type:circle;" class="ps-2 mt-1">
                    @foreach (IngredientDto ingredient in PlaceOrderVM.GetOrderItemIngredients(foodItem.Id))
                    {
                        <li>@ingredient.IngredientName</li>
                    }
                </ul>
            }
        </li>
    }
</ul>
<button>Place Order</button>